<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Income Summary | Gym-Ware Pro</title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
   
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
     <!-- TABLE STYLES-->
    <link href="assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Gym-Ware Pro</a> 
            </div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;"> Income Summary <a href="index.html" class="btn btn-danger square-btn-adjust">Logout</a> </div>
        </nav>   
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
					</li>
				
					
                    <li>
                        <a href="dashboard.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="notification.html"><i class="fa fa-bell-o fa-3x"></i> Notification</a>
                    </li>				
					              
                    <!-- Inventory Dropdown -->                 
                    <li>
                        <a class="active-menu" href="#"><i class="fa fa-sitemap fa-3x"></i> Inventory<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="active-menu" href="inventory.html">Overview</a>
                            </li>
                            <li>
                                <a href="add-inventory.html">Add items</a>
                            </li>
                            <li>
                                <a href="remove-inventory.html">Remove items</a>
                            </li>
                        </ul>
                      </li>
                            <!-- Members Dropdown -->
                      <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Members<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">List</a>
                            </li>
                            <li>
                                <a href="#">Verify</a>
                            </li>
                            <li>
                                <a href="#">Register</a>
                            </li>
                            <li>
                                <a href="#">Remove</a>
                            </li>
                        </ul>
                      </li>

                      <!-- Cashflow Dropdown -->
                      <li>
                        <a href="#"><i class="fa fa-money fa-3x"></i> Cashflow<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Summary</a>
                            </li>
                            <li>
                                <!-- <a href="income.html">Income</a><li> -->
                                <a href="income.html">Income<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="income-summary.html">Summary</a>
                                    </li>
                                    <li>
                                        <a href="income.html">Add income</a>
                                    </li>
                                </ul>
                               
                            </li>
                            </li>
                            <li>
                                <!-- <a href="expense.html">Expense</a> -->
                                <a href="income.html">Expense<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="expense-summary.html">Summary</a>
                                    </li>
                                    <li>
                                        <a href="expense.html">Add expense</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                      </li>

                        <!-- Settings Dropdown -->
                      <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Settings<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Reset Password</a>
                            </li>
                            <li>
                                <a href="#">Logout</a>
                            </li>
                        </ul>
                      </li>

                        </ul>
                      </li>  	
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Income Summary</h2>
                     <h5>Click the table header to sort</h5>   
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <!-- <div class="panel-heading">
                             Advanced Tables
                        </div> -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                            <th>Amount (GHC)</th>
                                            <th>Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td>Registered Members</td>
                                            <td>150</td>
                                            <td>12,000</td>
                                            <td class="center">Unpaid arreas exist</td>
                                            <!-- <td class="center">X</td> -->
                                        </tr>
                                        <tr class="even gradeC">
                                            <td>Sale of Gloves</td>
                                            <td>10</td>
                                            <td >50</td>
                                            <td class="center">Need to sell more</td>
                                            <!-- <td class="center">X</td> -->
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Sale of towels</td>
                                            <td>15</td>
                                            <td>75</td>
                                            <td class="center">Need to sell more</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Sale of water</td>
                                            <td>10</td>
                                            <td>5</td>
                                            <td class="center">None</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        <tr class="odd gradeA">
                                            <td>Gift</td>
                                            <td>-</td>
                                            <td>200</td>
                                            <td class="center">None</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        <tr class="even gradeA">
                                            <td>Award</td>
                                            <td>1</td>
                                            <td>500</td>
                                            <td class="center">None</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Sale of workout clothes</td>
                                            <td>5</td>
                                            <td>10</td>
                                            <td class="center">None</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        <tr class="gradeA">
                                            <td>Bal b/d</td>
                                            <td>-</td>
                                            <td>600</td>
                                            <td class="center">None</td>
                                            <!-- <td class="center">A</td> -->
                                        </tr>
                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-12" align="right">
                    <p><a href="income.html" class="btn btn-info btn-lg" role="button">Add income</a></p>
                     <!-- End  Kitchen Sink -->
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                      
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                <!-- /. ROW  -->
            <div class="row">
                <div class="col-md-6">
                     
                </div>
                <div class="col-md-6">
                     
                </div>
            </div>
                <!-- /. ROW  -->
        </div>
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script src="assets/js/dataTables/jquery.dataTables.js"></script>
    <script src="assets/js/dataTables/dataTables.bootstrap.js"></script>
        <script>
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
   
</body>
</html>
