


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>  MEMBER PROFILE </title>
        <link rel="stylesheet" href="/static/church/css/w3.css">
        <link rel="stylesheet" href="/static/church/css/w3-theme-blue.css">
        
        <link rel="stylesheet" href="/static/church/css/style.css">
        <link rel="stylesheet" href="/static/church/font-awesome-4.7.0/css/font-awesome.min.css">
        <style>
            body{
                background-image: url("/static/church/images/ben-white-128608.jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                background-attachment: fixed;
            }
            /*div#overlay{
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgba(0,0,0,0.4);
            }*/
        </style>
    </head>
    <body>
       <header class="w3-row w3-top w3-white w3-bar w3-center w3-card-2">
            <button class="w3-white w3-button w3-hover-white w3-mobile w3-block" style="width:100%">

</button>
        </header>
        <main class="w3-row w3-padding">
            
<div class="w3-white w3-card-4" style="margin-top:40px;max-width:960px;margin-left:auto;margin-right:auto">
    <div class="w3-container w3-dark-grey">
      <h2>User Form</h2>
    </div>
<form method="post" class="w3-container w3-card-4 w3-padding w3-card w3-padding-34">
    <div class="w3-row-padding">
        <input type='hidden' name='csrfmiddlewaretoken' value='YRcTuhGbaC6orT6na4mBQJDl1StOyTRPraS682VIu8UbUnAGHy3QobicZip9BxsW' />
        <div class="w3-col m6 l6">
            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Login Details</h4>
                </div>
            <div class="fieldWrapper">
                <br>
                <label class="w3-text-grey"><b><label for="id_username">Username:</label></b></label><br>
                <input type="text" name="username" class="w3-input w3-border w3-border-dark-grey" maxlength="150" required id="id_username" />
            </div>
            <div class="fieldWrapper">
                <br>
                <label class="w3-text-grey"><b><label for="id_password">Password:</label></b></label><br>
                <input type="password" name="password" class="w3-input w3-border w3-border-dark-grey" maxlength="128" required id="id_password" />
            </div>
            </div>

            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Permissions</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_is_superuser">Superuser status:</label></b></label><br>
                    <input type="checkbox" name="is_superuser" class="w3-check w3-border w3-border-dark-grey" id="id_is_superuser" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_is_staff">Staff status:</label></b></label><br>
                    <input type="checkbox" name="is_staff" class="w3-check w3-border w3-border-dark-grey" id="id_is_staff" />
                </div>
            </div>

            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Identity</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_first_name">First name:</label></b></label><br>
                    <input type="text" name="first_name" class="w3-input w3-border w3-border-dark-grey" maxlength="30" id="id_first_name" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_middle_name">Middle name:</label></b></label><br>
                    <input type="text" name="middle_name" class="w3-input w3-border w3-border-dark-grey" maxlength="50" id="id_middle_name" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_last_name">Last name:</label></b></label><br>
                    <input type="text" name="last_name" class="w3-input w3-border w3-border-dark-grey" maxlength="150" id="id_last_name" />
                </div>
            </div>

            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Contact</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_phone">Phone:</label></b></label><br>
                    <input type="text" name="phone" class="w3-input w3-border w3-border-dark-grey" maxlength="50" id="id_phone" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_email">Email address:</label></b></label><br>
                    <input type="text" name="email" class="w3-input w3-border w3-border-dark-grey" maxlength="254" id="id_email" />
                </div>
            </div>

            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Picture</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_picture">Picture:</label></b></label><br>
                    <input type="file" name="picture" id="id_picture" />
                </div>
            </div>
        </div>
        <div class="w3-col m6 l6">
            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>About</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_occupation">Occupation:</label></b></label><br>
                    <input type="text" name="occupation" class="w3-input w3-border w3-border-dark-grey" maxlength="50" required id="id_occupation" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_location">Location:</label></b></label><br>
                    <input type="text" name="location" class="w3-input w3-border w3-border-dark-grey" maxlength="50" required id="id_location" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_gender">Gender:</label></b></label><br>
                    <select name="gender" class="w3-select w3-border w3-border-dark-grey" required id="id_gender">
  <option value="" selected>---------</option>

  <option value="M">Male</option>

  <option value="F">Female</option>

</select>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_kids">Kids:</label></b></label><br>
                    <input type="number" name="kids" class="w3-input w3-border w3-border-dark-grey" min="0" required id="id_kids" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_birth_date">Birth date:</label></b></label><br>
                    <input type="text" name="birth_date" class="w3-input w3-border w3-border-dark-grey" required id="id_birth_date" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_is_married">Is married:</label></b></label><br>
                    <input type="checkbox" name="is_married" class="w3-check w3-border w3-border-dark-grey" id="id_is_married" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_is_baptized">Is baptized:</label></b></label><br>
                    <input type="checkbox" name="is_baptized" class="w3-check w3-border w3-border-dark-grey" id="id_is_baptized" />
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_about">About:</label></b></label><br>
                    <textarea name="about" cols="40" rows="10" class="w3-input w3-border w3-border-dark-grey" maxlength="500" id="id_about">
</textarea>
                </div>
            </div>

            <div class="w3-row w3-margin">
                <div class="w3-container w3-dark-grey">
                  <h4>Church Activity</h4>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_cell">Cell:</label></b></label><br>
                    <select name="cell" class="w3-select w3-border w3-border-dark-grey" required id="id_cell">
  <option value="" selected>---------</option>

  <option value="3">GENTLE CLASS</option>

  <option value="5">HOLY CLASS</option>

  <option value="9">HAPPY CLASS</option>

  <option value="10">PEACE CLASS</option>

  <option value="11">UNITY HALL</option>

</select>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_ministry">Ministry:</label></b></label><br>
                    <select name="ministry" class="w3-select w3-border w3-border-dark-grey" id="id_ministry" multiple="multiple">
  <option value="1">Men&#39;s Ministry</option>

  <option value="3">Charisma Ministry</option>

  <option value="4">Ushering Ministry</option>

  <option value="5">Prayer tower Ministry</option>

  <option value="6">Follow up Ministry</option>

  <option value="7">Evangelism Ministry</option>

  <option value="9">Children&#39;s Ministry</option>

  <option value="12">Clm Ministry</option>

  <option value="13">CFA</option>

</select>
                </div>
                <div class="fieldWrapper">
                    <br>
                    <label class="w3-text-grey"><b><label for="id_department">Department:</label></b></label><br>
                    <select name="department" class="w3-select w3-border w3-border-dark-grey" id="id_department" multiple="multiple">
  <option value="2">Discipleship Teachers</option>

  <option value="3">Media</option>

  <option value="4">Administration</option>

  <option value="5">SCD Teachers</option>

  <option value="6">Welfare Department</option>

  <option value="7">ACCA</option>

  <option value="8">CFA</option>

</select>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-row-padding w3-center">
        <a href="/" class="w3-btn w3-dark-gray w3-margin">Cancel</a>
        <button type="submit" class="w3-btn w3-dark-gray w3-margin">Save changes</button>
    </div>
</form>
</div>

        </main>
    </body>
    <script type="text/javascript" src="/static/church/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/church/js/script.js"></script>
    

    
</html>
